#warpperCustomerPage {
    display: flex;
    flex-direction: row;
    background-color: rgb(244, 230, 211);
    margin: 20px;

}

#left_page {
    flex: 5;
    /* margin: 20px; */
}

#right_page {
    flex: 5;
} 

h2{
    color: cadetblue;
}

#buyProductDiv{
    margin: 15px;
    border-style: solid;
    border-width: thin;
    padding: 20px;
    width: 200px;
}

.buyButton {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 10px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buyButton:hover,
  .buyButton:focus {
    background-color: #F082AC;
  }

