#wrapperEditPage {
    display: flex;
    flex-direction: row;
    background-color: rgb(244, 230, 211);
    margin: 10px;
}

#leftEditPage {
    flex: 5;
}

#rightEditPage {
    flex: 5;
}

#headerEdit{
    text-align: center;
    color: cadetblue;
    text-shadow: 0 0 3px #ededf1, 0 0 5px #f0e9e9;
}

#buttons{
    display: flex;
    justify-content: space-around;
}

#editDiv{
    margin: 15px;
    border-style: solid;
    border-width: thin;
    border-radius: 2px;
    /* background-color: rgb(208, 245, 233); */
    width:300px;
    font-size: 18px;
    padding: 15px;
    margin-left: 100px;
}

.editButtons {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 13px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .editButtons:hover,
  .editButtons:focus {
    background-color: #F082AC;
  }

.editDivTable table, 
.editDivTable th,
.editDivTable  td,
.editDivTable tr{
    /* border-width: thin;
    border-style: solid; */
    
    border: none !important;
    border-collapse: none !important;
    /* font-size: 20px; */

}