#warpper{
    display: flex;
    flex-direction: row;
    background-color: rgb(244, 230, 211);
}

#filterDiv{
    border: solid;
    border-width: thin;
    width: 50%;
    margin: 20px;
    padding: 20px;
}

#leftPage{
    flex: 5;

}
#rightPage{
    flex: 5;
}

/* CSS */
.searchButton {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .searchButton:hover,
  .searchButton:focus {
    background-color: #F082AC;
  }
 

.filterTable table, 
.filterTable th,
.filterTable  td,
.filterTable tr{
    /* border-width: thin;
    border-style: solid; */
    
    border: none !important;
    border-collapse: none !important;
    font-size: 20px;

}

