#SingleCustomerPurchased{
    border-style: solid;
    border-radius: 3px;
    border-width: thin;
    border-color: black;
    /* background-color: rgb(208, 245, 233); */
    padding: 12px;
    margin: 10px;
    width: 50%;
    height: 35%;
}

.buyProductButton {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    line-height: 10px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buyProductButton:hover,
  .buyProductButton:focus {
    background-color: #F082AC;
  }